<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Partidos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let partido of partidos ">
      <ion-label>{{partido.nome}}</ion-label>
      <ion-button color="success">Membros</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
