<ion-header>
  <ion-toolbar>
    <ion-title>membros</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-card *ngFor="let membro of membros " class="list-card">
        <img [src]="membro.urlFoto" />
        <ion-card-header>
          <ion-card-subtitle>{{membro.siglaPartido}}</ion-card-subtitle>
          <ion-card-title>{{membro.nome}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><span>uf: </span>{{membro.siglaUf}}</p>
          <p><span>email: </span>{{membro.email}}</p>
          <p><span>uri: </span>{{membro.uri}}</p>
          <p><span>id legislatura: </span>{{membro.idLegislatura}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
